@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Danfo&display=swap');

body {
    background-color: #f0f8ff; 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: center;
}

.tribute-image {
    width: 100%;
    height: auto; 
    max-width: 500px; 
    margin: 0 auto; 
    display: block;
}

h1, h2, h3 {
    font-family: "Dancing Script", cursive;
    color: rgb(255, 115, 0);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem; 
    margin-bottom: -2rem; 
}

h3 {
    font-size: 1.2rem;
}

main {
    max-width: 800px; 
    width: 100%;
    padding: 20px; 
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: 20px 0;
    padding: 0 1rem;
    text-align: center;
}

.list {
    padding: 0 1rem;
}

ol {
    padding-left: 1.5rem; 
}

p {
    line-height: 1.6; 
    margin: 0.2rem 0;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin: 50px;
    padding: 10px;
}

.gallery img:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.gallery img:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.gallery img:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.gallery img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}

.gallery img {
    width: 300px;
    height: auto;
    display: block;
}


